<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT challenges</title>
</head>
<body>
    <h1>IT challenges</h1>
    <p>Here is the index to preview the IT challenges</p>
    <ul>
        <li><a href="{% url 'weather' %}">Weather Website</a></li>
        <li><a href="{% url 'tasks' %}">Tasks To Do API (Backend)</a></li>
        <li><a href="{% url 'portfolio' %}">Personal Portfolio Page</a></li>
    </ul>
    
</body>
</html>